html, body
{
    font-family: Helvetica;
    height: 100%;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9EBEE;
}

a
{
    text-decoration: none;
    color: inherit;
}

header
{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 42px;
    line-height: 42px;
    color: #fff;
    background-color: #0B2027;
    z-index: 999;
}

#headerLogo
{
    font-weight: 700;
    padding: 0 15px;
    float: left;
}

.menu
{
    float: right;
}

.menu a
{
    padding: 0 10px;
}

.menu a:hover
{
    color: #C5CAE9;
}

#searchBar
{
    float: left;
    width: 100%;
    padding: 5px;
    height: 16px;
    border-radius: 2px 0 0 2px;
    outline: none;
    border: none;
}

#searchBtn
{
    position: absolute;
    width: 40px;
    height: 26px;
    border: none;
    text-align: center;
    color: #fff;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
    font-size: 20px;
}

#search
{
    margin: 8px 0;
    display: inline-block;
    height: 42px;
    width: 340px;
}

.container
{
    width: 100%;
    height: 100%;
    background-color: #E9EBEE;
}

#feed
{
    padding-top: 50px;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-right: 310px;
    box-sizing: border-box;
    padding-left: 15px;
}

#sideMenu
{
    position: fixed;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: #F6F7F9;
    box-sizing: border-box;
    z-index: 100;
    padding-top: 68px;
}

#sideMenu button
{
    display: block;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    margin: 10px auto;
    width: 280px;
    padding: 7px;
    font-weight: bold;
    color: #59A7C1;
    background-color: #6A6E72;
}

#sideMenu button:hover
{
    color: #4D91A8;
    background-color: #5C5E63;
}

.postList
{
    padding: 0;
    list-style: none;
}

.post
{
    display: block;
    min-height: 80px;
    width: 100%;
    float: left;
    vertical-align: middle;
    margin-bottom: 16px;
}

.postNum
{
    margin-top: 28px;
    display: inline-block;
    text-align: center;
    font-size: 26px;
    float: left;
    width: 4%;
}

.scoreDiv
{
    margin: 6px;
    display: inline-block;
    float: left;
    width: 6%;
}

.scoreDiv img
{
    margin: auto;
    display: block;
}

.postInfo
{
    display: inline-block;
    float: left;
    width: 86%;
    overflow: hidden;
}

.score
{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.title
{
    margin: 4px 0;
    font-size: 26px;
    overflow: hidden;
}

.postButtons
{
    list-style: none;
    padding: 0;
    margin-top: 4px;

}

.postButtons li
{
    margin-right: 14px;
    display: inline;
    font-weight: bold;
}

.postButtons li:hover
{
    text-decoration: underline;
}

.author, .forum
{
    color: #40798C;
}

.author:hover, .forum:hover
{
    color: #0B2027;
    text-decoration: underline;
}

h3
{
    margin: 5px 0;
    text-align: center;
}
