<!DOCTYPE html>
<html>
<head>
    <title><%= title %>| 4UM </title>
    <link rel='stylesheet' href= 'stylesheets/login.css'/>
</head>
<body>

<div id="email">
    <span>Forgot your password?</span>
    <div id="emailDesc">
        To reset your password please click <a href= <%= resetLink %> id="restLink">here.</a>
    </div>
</div>

</body>
</html>
