<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jquery.timeago.js" type="text/javascript"></script>
<script type="text/javascript" src= <%= script %> ></script>
</body>
</html>
