<%- include('header', {title: title, style: 'stylesheets/forumlist.css'}); %>

        <h3>SUB4UMs</h3>
        <h4>Welcome to the SUB4UM list.</h4>
        <p>Any user is open to join public SUB4UMS.</p>
        <p>Protected SUB4UMs must be requested to join and approved by an Admin<i class="fa fa-key icon" aria-hidden="true"></i> or Moderator<i class="fa fa-shield icon" aria-hidden="true"></i>.</p>
        <p>Private SUB4UMs are not visible on this page. To join, you must receive a unique access code or direct invite from your inbox.</p>
        <p>Users can even start their own SUB4UM and become the Admin<i class="fa fa-key icon" aria-hidden="true"></i>.</p>
        <label id="createForum" for="modal1">Create your own</label>
        <label id="createForum" for="modal2">Join a private SUB4UM</label>
    </div>
    <div id="container4UMs">
        <div id="public4UMs">
            <h3>PUBLIC</h3>
            <ul id="publicList">
            </ul>
        </div>
        <div id="protected4UMs">
            <h3>PROTECTED</h3>
            <ul id="protectedList">
            </ul>
        </div>
        <div id="subscribed4UMs">
            <h3>SUBSCRIBED</h3>
            <ul id="subscribedList">
            </ul>
        </div>
    </div>
</div>

<input class="modalState" id="modal1" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal1"></label>
    <div class="modalContent">
        <label for="modal1">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Create your own SUB4UM</h2>
        <form id="SUB4UMForm">
            <label for="name2UM">name</label>
            <input type="text" id="sname" name="name" maxlength="20" required/>

            <label for="title2UM">title</label>
            <input type="text" id="title" name="title" maxlength="100" required/>

            <label for="desc2UM">description</label>
            <textarea type="text" id="desc" name="desc" maxlength="500" required></textarea>

            <label>Type</label><br>
            <label>
                <input type="radio" name="type" value="public">
                <i>public</i>
            </label><br>
            <label>
                <input type="radio" name="type" value="protected">
                <i>protected</i>
            </label><br>
            <label>
                <input type="radio" name="type" value="private" required>
                <i>private</i>
            </label><br><br>
            <input type="submit" value="submit" id="modal1submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal2" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal2"></label>
    <div class="modalContent modalContent2">
        <label for="modal2">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Join a private SUB4UM</h2>
        <form id="SUB4UMForm">
            <label id="accessCodeTitle" for="name2UM">Access Code</label>
            <input type="text" id="accessCode" name="name" maxlength="10" required/>
            <input id="joinPrivateBtn" type="submit" value="submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal3" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal3"></label>
    <div class="modalContent modalContent3">
        <label for="modal3">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <form class="unsubscribeForm" id="adminUnsubscribe">
            <h2>Are you sure?</h2>
            <p>Since you own the SUB4UM, unsubscribing will delete the SUB4UM.</p>
            <input id="delete" type="submit" value="Unsubscribe & Delete">
            <input id="cancel" type="submit" value="Cancel">
        </form>
        <form class="unsubscribeForm" id="modUnsubscribe">
            <h2>Are you sure?</h2>
            <p>Since you are a mod, unsubscribing will remove you as a mod.</p>
            <input id="unsubscribeMod" type="submit" value="Unsubscribe">
            <input id="cancel" type="submit" value="Cancel">
        </form>
    </div>
</div>

<%- include('footer', {script: "javascripts/forumlist.js"}); %>
