<%- include('header', {title: title, style: 'stylesheets/forumlist.css'}); %>

        <h3>SUB4UMs</h3>
        <label id="createForum" for="modal1">Create your own</label>
        <label id="createForum" for="modal2">Join a private SUB4UM</label>
    </div>
    <div id="container4UMs">
        <div id="public4UMs">
            <h3>PUBLIC</h3>
            <ul id="publicList">
            </ul>
        </div>
        <div id="protected4UMs">
            <h3>PROTECTED</h3>
            <ul id="protectedList">
            </ul>
        </div>
        <div id="subscribed4UMs">
            <h3>SUBSCRIBED</h3>
            <ul id="subscribedList">
            </ul>
        </div>
    </div>
</div>




<input class="modalState" id="modal1" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal1"></label>
    <div class="modalContent">
        <label for="modal1">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Create your own SUB4UM</h2>
        <form id="SUB4UMForm">
            <label for="name2UM">name</label>
            <input type="text" id="sname" name="name" maxlength="100" required/>

            <label for="title2UM">title</label>
            <input type="text" id="title" name="title" maxlength="100" required/>

            <label for="desc2UM">description</label>
            <textarea type="text" id="desc" name="desc" maxlength="500" required></textarea>

            <label>Type</label><br>
            <label>
                <input type="radio" name="type" value="public">
                <i>public</i>
            </label><br>
            <label>
                <input type="radio" name="type" value="protected">
                <i>protected</i>
            </label><br>
            <label>
                <input type="radio" name="type" value="private" required>
                <i>private</i>
            </label><br><br>

            <input type="submit" value="submit" id="modal1submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal2" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal2"></label>
    <div class="modalContent modalContent2">
        <label for="modal2">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Join a private SUB4UM</h2>
        <form id="SUB4UMForm">
            <label for="name2UM">Access Code</label>
            <input type="text" id="name2UM" name="name" maxlength="100" required/>

            <input type="submit" value="submit">
        </form>
    </div>
</div>

<%- include('footer', {script: "javascripts/forumlist.js"}); %>
