<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | 4UM </title>
    <link rel='stylesheet' href= '/stylesheets/header.css'/>
    <link rel="stylesheet" href= "/stylesheets/font-awesome.min.css"/>
    <link rel="stylesheet" href = '<%= style %>'/>
</head>
<body>
<header>
    <a href="" id="headerLogo">4UM</a>
    <div id="search">
        <input type="text" id="searchBar"/>
        <button type="submit" id="searchBtn">
            X
        </button>
    </div>
    <nav class="menu">
            <a href="/home">HOME</a>
            <a href="">2UM</a>
            <a href="">PROFILE</a>
            <a href="">INBOX</a>
            <a href="">LOGOUT</a>
    </nav>
</header>
