<!DOCTYPE html>
<html>
<head>
    <title>Mainfeed | 4UM </title>
    <link rel='stylesheet' href= 'mainfeed.css'/>
</head>
<body>
<header>
    <a href="" id="headerLogo">4UM</a>
    <div id="search">
        <input type="text" id="searchBar"/>
        <button type="submit" id="searchBtn">
            X
        </button>
    </div>
    <nav class="menu">
            <a href="">HOME</a>
            <a href="">2UM</a>
            <a href="">PROFILE</a>
            <a href="">INBOX</a>
    </nav>
</header>
