<%- include('header', {title: title, style: 'stylesheets/mainfeed.css'}); %>

        <h3>Welcome to 4UM</h3>
        <label id="createLinkPost" for="modal1">Submit a new link</label>
        <label id="createTextPost" for="modal2">Submit a new text post</label>
    </div>
    <div id="feed">
        <div id="sort">
            <button class="sortBtn" id="topBtn">Top</button>
            <button class="sortBtn" id="recentBtn">Recent</button>
        </div>
        <div id="noPosts">There are no posts to display. Subscribe to more SUB4UMs or create your own post!</div>
        <ol class="postList">
        </ol>
    </div>
</div>

<input class="modalState" id="modal1" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal1"></label>
    <div class="modalContent urlShortModal">
        <label for="modal1">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Submit link to 4UM</h2>
        <form id="postLinkForm">
            <label for="url">url</label></br>
            <input type="url" id="url" name="postUrl" onblur="checkURL(this)" required></br>
            <label for="title">title</label>
            <input type="text" id="title" name="postTitle" maxlength="300" required></input></br>
            <label for="sname">choose a SUB4UM</label></br>
            <select id="sname" name="sname" class="SUB4UMlist" required></select>
            <input type="submit" value="submit" id="modal1submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal2" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal2"></label>
    <div class="modalContent">
        <label for="modal2">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Submit a text post to 4UM</h2>
        <form id="postTextForm">
            <label for="title2">title</label>
            <input type="text" id="title" name="postTitle" maxlength="300" required></input></br>
            <label for="text">text (optional)</label>
            <textarea type="text" id="textAreaPost" name="postText" maxlength="40000"></textarea></br>
            <label for="sname">choose a SUB4UM</label></br>
            <select id="sname" name="sname" class="SUB4UMlist" required></select>

            <input type="submit" value="submit" id="modal2submit">
        </form>
    </div>
</div>

<%- include('footer', {script: "javascripts/mainfeed.js"}); %>
