<%- include('header', {title: title, style: 'stylesheets/mainfeed.css'}); %>


        <h3>Welcome to 4UM</h3>
        <label id="createLinkPost" for="modal1">Submit a new link</label>
        <label id="createTextPost" for="modal2">Submit a new text post</label>
        <label id="createForum" for="modal3">Create your own 2UM</label>
    </div>
    <div id="feed">
        <ol class="postList"></ol>
    </div>
</div>

<input class="modalState" id="modal1" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal1"></label>
    <div class="modalContent">
        <label for="modal1">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Submit link to 4UM</h2>
        <form id="postLinkForm">
            <label for="url">url</label></br>
            <input type="text" id="url" name="postUrl" required></br>

            <label for="title">title</label>
            <div class="charNum">
                <span class="current" id="current1">0</span>
                <span class="max" id="max1">/ 300</span>
            </div>
            <textarea type="text" id="title" name="postTitle" maxlength="300" required></textarea></br>

            <label for="sname">choose a SUB4UM</label></br>
            <input type="text" id="sname" name="sname" list="SUB4UMlist" required/>
            <datalist id="SUB4UMlist">
                <option>GameOfThrones</option>
                <option>Gaming</option>
                <option>WorldNews</option>
                <option>GameOfThrones</option>
                <option>Movies</option>
                <option>todayilearned</option>
                <option>pics</option>
                <option>mildyinteresting</option>
                <option>technology</option>
            </datalist>

            <input type="submit" value="submit" id="modal1submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal2" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal2"></label>
    <div class="modalContent">
        <label for="modal2">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Submit a text post to 4UM</h2>
        <form id="postTextForm">
            <label for="title2">title</label>
            <div class="charNum">
                <span class="current" id="current2">0</span>
                <span class="max" id="max2">/ 300</span>
            </div>
            <textarea type="text" id="title" name="postTitle" maxlength="300" required></textarea></br>

            <label for="text">text (optional)</label>
            <div class="charNum">
                <span class="current" id="current3">0</span>
                <span class="max" id="max3">/ 40000</span>
            </div>

            <textarea type="text" id="text" name="postText" maxlength="40000"></textarea></br>

            <label for="sname">choose a SUB4UM</label></br>
            <input type="text" id="sname" name="sname" list="SUB4UMlist" required/>
            <datalist id="SUB4UMlist">
                <option>GameOfThrones</option>
                <option>Gaming</option>
                <option>WorldNews</option>
                <option>GameOfThrones</option>
                <option>Movies</option>
                <option>todayilearned</option>
                <option>pics</option>
                <option>mildyinteresting</option>
                <option>technology</option>
            </datalist>

            <input type="submit" value="submit" id="modal2submit">
        </form>
    </div>
</div>

<input class="modalState" id="modal3" type="checkbox"/>
<div class="modal">
    <label class="modalBg" for="modal3"></label>
    <div class="modalContent">
        <label for="modal3">
            <i class="fa fa-times fa-lg modalClose" aria-hidden="true"></i>
        </label>
        <h2>Create your own SUB4UM</h2>
        <form id="SUB4UMForm">
            <label for="name2UM">name</label>
            <input type="text" id="sname" name="name" maxlength="100" required/>

            <label for="title2UM">title</label>
            <input type="text" id="title" name="title" maxlength="100" required/>

            <label for="desc2UM">description</label>
            <textarea type="text" id="desc" name="desc" maxlength="500" required></textarea>

            <label>Type</label><br>
            <label>
                <input type="radio" name="type" value="public">
                <i>public</i>
            </label><br>
            <label>
                <input type="radio" name="type" value="protected">
                <i>protected</i>
            </label><br>
            <label>
                <input type="radio" name="type" value="private" required>
                <i>private</i>
            </label><br><br>

            <input type="submit" value="submit" id="modal3submit">
        </form>
    </div>
</div>

<%- include('footer', {script: "javascripts/mainfeed.js"}); %>
