#feed {
    padding-top: 10px;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding-right: 310px;
    box-sizing: border-box;
    padding-left: 15px;
}


.postList {
    padding: 0;
    list-style: none;
}

.post {
    display: block;
    min-height: 80px;
    width: 100%;
    float: left;
    vertical-align: middle;
    margin-bottom: 16px;
}

.postNum {
    margin-top: 28px;
    display: inline-block;
    text-align: center;
    font-size: 32px;
    float: left;
    width: 4%;
}

.scoreDiv {
    margin: 6px;
    display: inline-block;
    float: left;
    width: 6%;
}

.scoreDiv i {
    margin: auto;
    display: block;
    text-align: center;
}

.scoreDiv i:hover {
    cursor: pointer;
}

.score {
    margin: 4px 0;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.postInfo {
    display: inline-block;
    float: left;
    width: 86%;
    overflow: hidden;
    margin-left: 8px;
    padding: 4px;
    border-radius: 4px;
}

.title {
    margin: 4px 0;
    font-size: 26px;
    overflow: hidden;
}

.postButtons {
    list-style: none;
    padding: 0;
    margin-top: 4px;

}

.postButtons li {
    margin-right: 14px;
    display: inline;
    font-weight: bold;
}

.postButtons li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.author, .forum {
    color: #40798C;
}

.author:hover, .forum:hover {
    color: #0B2027;
    text-decoration: underline;
}

h3 {
    margin: 5px 0;
    text-align: center;
}


.charNum {
    display: inline;
    font-size: 18px;
    float: right;
}
